<div>
  <form action="/users" method="post">
    <input type="text" name="nombre" id="" placeholder="Nombre" />
    <input type="text" name="correo" id="" placeholder="Correo" />
    <input type="password" name="password" id="" placeholder="Contraseña" />
    <button type="submit">Registrar</button>
  </form>
</div>