<h1>
  Vista de Productos en tiempo real
</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Titulo</th>
      <th>Precio</th> 
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>